@font-face {
  font-family: "Inter";
  src: local("Inter-Light"),
    url("../fonts/Inter-Light.woff2") format("woff2"),
    url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Regular"),
    url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Medium"), url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: local("Barlow-Regular"),
    url("../fonts/Barlow-Regular.woff2") format("woff2"),
    url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: local("Barlow-Medium"),
    url("../fonts/Barlow-Medium.woff2") format("woff2"),
    url("../fonts/Barlow-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: local("Barlow-SemiBold"),
    url("../fonts/Barlow-SemiBold.woff2") format("woff2"),
    url("../fonts/Barlow-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
	--color-blue: #4898a5;
  --color-navy: #1f2b49;
	--color-black: #1b2427;
	--color-aqua: #01bccb;
	--color-white: #fcfbfc;
	--color-cyan: #00e0f0;
	--color-midnight: #131b30;
	--color-dark-blue: #344d86;
	--color-dark-grey: #1f2b49;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  margin: auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
	background-color: var(--color-midnight);
}

.body {
	background-image: url(../img/image-bg-main.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.body-second {
	background-image: none;
}

.flex {
  display: flex;
}

.container {
  max-width: 1290px;
  min-width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link-reset {
  text-decoration: none;
}

/* Header */

.header {
	padding: 14px 0;
	border-bottom: 1px solid var(--color-blue);
}

.header__logo {
	margin-right: 60px;
	outline: none;
}

.header__logo:focus {
	outline: 1px solid var(--color-aqua)
}

.header__list {
	align-items: center;
}

.header__item:not(:last-child) {
	margin-right: 30px;
}

.header__link {
	font-weight: 500;
	font-size: 22px;
	color: var(--color-blue);
	outline: none;
}

.header__link:hover {
	color: var(--color-aqua);
	transition: color 0.3s;
}

.header__link:focus {
  color: var(--color-aqua);
	outline: 1px solid var(--color-aqua);
  transition: all 0.3s;
}

.header__link:active {
	outline: none;
  color: var(--color-cyan);
  transition: color 0.3s;
}

.header__nav {
	width: 100%;
	justify-content: space-between;
}

.header__nav-icon {
	border-bottom: 1px solid var(--color-blue);
	outline: none;
}

.header__nav-svg:hover path {
	fill: var(--color-aqua);
	transition: fill 0.3s;
}

.header__nav-icon:focus path {
	fill: var(--color-aqua);
	transition: fill 0.3s;
}

.header__nav-icon:active path {
	fill: var(--color-aqua);
	transition: fill 0.3s;
}

.header__nav-svg:active path {
	fill: var(--color-cyan) !important;
	transition: fill 0.3s;
}

.search-form {
	align-self: center;
	width: auto;
}

.search-input {
	width: 180px;
	font-family: 'Inter';
	font-weight: 500;
	font-size: 12px;
	color: rgba(252, 251, 252, 0.7);
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--color-blue);
	outline: none;
	transition: 0.3s;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px white; /* цвет вашего фона */
    -webkit-text-fill-color: black; /* цвет текста */
}

.search-input:hover {
	border-color: var(--color-aqua);
	transition: all 0.3s;
}

.search-input:hover + .header__nav-icon {
	border-color: var(--color-aqua);
	transition: all 0.3s;
}

.search-input:focus {
	border-color: var(--color-aqua);
	transition: all 0.3s;
}

.search-input:focus + .header__nav-icon {
	border-color: var(--color-aqua);
	transition: all 0.3s;
}

/* Main */

.hero {
	justify-content: space-between;
}

.hero__heading {
	max-width: 465px;
	margin: 0;
	margin-bottom: 50px;
	padding-top: 72px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 80px;
	color: var(--color-blue);
}

.hero__text {
	max-width: 440px;
	margin-bottom: 55px;
	font-weight: 500;
	font-size: 20px;
	line-height: 32px;
	color: var(--color-white)
}

.balances {
	padding-bottom: 25px;
}

.balances__btn {
	margin-bottom: 100px;
	padding: 11.5px 77.5px;
	border-radius: 5px;
	background-color: var(--color-blue);
	font-weight: 500;
	font-size: 22px;
	color: var(--color-black);
}

.balances__btn:hover {
	background-color: var(--color-aqua);
	transition: background-color 0.3s;
}

.balances__btn:focus {
	background-color: var(--color-aqua);
  outline: 2px solid var(--color-cyan);
  transition: all 0.3s ease-in-out;
}

.balances__btn:active {
	background-color: var(--color-blue);
  transition: all 0.3s ease-in-out;
}

.balances__list {
	flex-wrap: wrap;
}

.balances__content {
	padding: 10px 10px;
	/* background-color: var(--color-navy); */
	border: 2px solid var(--color-aqua);
	border-radius: 5px;
	backdrop-filter: blur(10px);
}

.balances__heading {
	margin: 0;
	margin-bottom: 20px;
	text-align: center;
}

.balances__item {
	width: 19%;
	margin-right: 15px;
	margin-bottom: 15px;
}

.balances__item:nth-child(5n) {
	margin-right: 0;
}

.balances__heading {
	font-family: 'Barlow';
	font-weight: 500;
	font-size: 20px;
	color: var(--color-white);
}

.balances__text {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 30px;
	color: var(--color-white);
	text-align: center;
}

/* Stats */

.stats {
	flex-direction: column;
	padding-top: 50px;
}

.stats__list {
	width: 100%;
	min-height: 95px;
	padding-bottom: 45px;
	justify-content: space-between;
}

.stats__item {
	position: relative;
	flex-direction: column;
	justify-content: center;
	padding: 25px 15px;
	border: 1px solid var(--color-aqua);
	border-radius: 5px;
}

.stats__span-top {
	margin-bottom: 10px;
	font-family: 'Barlow';
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.8);
}

.stats__span-bottom {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	text-transform: uppercase;
	color: var(--color-white);
}

.stats__span-color {
	color: var(--color-aqua);
}

.stats__info {
	justify-content: space-between;
	text-align: center;
	padding-bottom: 45px;
}

.stats__info-left,
.stats__info-right {
	width: 49%;
}

.stats__info-item,
.stats__info-item-header {
	width: 100%;
}

.stats__info-top {
	flex-direction: column;
	border: 1px solid var(--color-aqua);
	border-radius: 5px;
	overflow: hidden;
}

.stats__info-block-header {
	padding: 25px 10px;
	margin-bottom: 15px;
	background-color: var(--color-dark-grey);
}

.stats__info-item-header {
	text-transform: uppercase;
	color: var(--color-blue);
}

.stats__info-block {
	margin-bottom: 15px;
}

.stats__info-item {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 30px;
	font-weight: 300;
	font-size: 12px;
	color: var(--color-white);
}


.stats__info-list-bottom {
	flex-direction: column;
	width: 25%;
}

.stats__info-item-top {
	display: flex;
	height: 72px;
	margin-bottom: 15px;
	align-items: center;
	justify-content: center;
	font-family: 'Barlow';
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: var(--color-aqua);
	background-color: var(--color-navy);
}

.stats__info-btn {
	padding: 3px 3px;
	margin-left: auto;
	margin-top: 5px;
	margin-right: 18px;
	margin-bottom: 16px;
	font-weight: 400;
	font-size: 12px;
	/* background-color: #000; */
	color: var(--color-blue);
	/* border-radius: 3px; */
	text-transform: uppercase;
	text-decoration: underline;
}

.stats__working {
	padding-bottom: 45px;
}

.stats__working-block {
	width: 100%;
}

/* Modal */

.balances__modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
	background: rgba(31, 43, 73, 0.8)
}

.balances__modal-block {
	position: relative;
	flex-direction: column;
	max-width: 900px;
  max-height: 100%;
  margin: 200px auto 0;
  padding: 45px 60px;
	border: 1px solid var(--color-aqua);
	border-radius: 5px;
	background-color: var(--color-midnight);
}

.balances__modal-animate {
	-webkit-animation: animatezoom 0.3s;
  animation: animatezoom 0.3s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.balances__modal-exit {
	position: absolute;
	top: -50px;
	right: -50px;
	cursor: pointer;
}

.balances__modal-download {
	justify-content: center;
	text-align: center;
	margin-bottom: 35px;
	font-weight: 500;
	font-size: 42px;
	text-transform: uppercase;
	color: var(--color-aqua);
}

.balances__button-block {
	justify-content: center;
	margin-bottom: 35px;
}

.balances__button-windows {
	margin-right: 13px;
}

.balances__button-windows, 
.balances__button-linux {
	position: relative;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 495px;
	min-height: 110px;
	padding: 10px 10px 10px 125px;
	border: 1px solid var(--color-aqua);
	border-radius: 5px;
	background-color: var(--color-navy);
	font-weight: 500;
	font-size: 35px;
	color: var(--color-aqua);
	text-transform: uppercase;
	outline: none;
}

.balances__button-windows:hover, 
.balances__button-linux:hover {
	background-color: var(--color-dark-blue);
	transition: background-color 0.3s;
}

.balances__button-windows:focus, 
.balances__button-linux:focus {
	background-color: var(--color-dark-blue);
	transition: background-color 0.3s;
}

.balances__button-windows:active, 
.balances__button-linux:active {
	background-color: var(--color-navy);
	transition: background-color 0.3s;
}

.balances__button-windows::before {
	position: absolute;
	content: "";
	top: 18px;
	left: 30px;
	width: 75px;
	height: 75px;
	background-image: url(../img/icon-windows.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.balances__button-linux::before {
	position: absolute;
	content: "";
	top: 18px;
	left: 30px;
	width: 75px;
	height: 75px;
	background-image: url(../img/icon-linux.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.balances__button-system {
	display: block;
	margin: 0 auto;
	border-bottom: 1px solid transparent;
	font-weight: 300;
	font-size: 30px;
	color: var(--color-aqua);
	outline-offset: 3px;
	outline: none;
}

.balances__button-system:hover {
	color: var(--color-cyan);
	border-bottom: 1px solid var(--color-cyan);
	transition: all 0.3s;
}

.balances__button-system:focus {
	color: var(--color-cyan);
	border-bottom: 1px solid var(--color-cyan);
	transition: all 0.3s;
}

.balances__button-system:active {
	color: var(--color-aqua);
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
}

/* Modal */

.balances__modal-system {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.balances__modal-system-block {
	position: relative;
	flex-direction: column;
  max-width: 900px;
  margin: 200px auto 0;
	border: 1px solid var(--color-aqua);
	border-radius: 5px;
	background-color: var(--color-black);
}

.balances__modal-system-animate {
	-webkit-animation: animatezoom 0.3s;
  animation: animatezoom 0.3s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.balances__modal-system-exit {
	position: absolute;
	top: -50px;
	right: -50px;
	cursor: pointer;
}

.balances__modal-header {
	padding: 20px 60px;
	background-color: var(--color-dark-grey);
}

.balances__modal-system-window {
	flex-direction: column;
	justify-content: space-between;
}

.balances__modal-system-windows,
.balances__modal-system-linux {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	text-transform: uppercase;
	color: var(--color-blue);
}

.balances__modal-system-descr {
	padding: 35px 60px 35px;
	justify-content: space-between;
	background-color: var(--color-midnight);
}

.balances__modal-list {
	width: 50%;
}

.balances__modal-item {
	flex-direction: column;
}

.balances__modal-item:not(:last-child) {
	margin-bottom: 20px;
}

.balances__modal-content {
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	color: var(--color-white);
}